<footer class="py-5 bg-info">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md">
                <h6 class="d-block mb-3 ">
                    هتل یاب برای پیدا کردن هتل های برتر کشور برای شما عزیزان طراحی
                    شده است
                </h6>
            </div>
            <div class="col-6 col-md">
                <h5>خصوصیات</h5>
                <ul class="list-unstyled text-black-50">
                    <li><a class="text-dark" href="#">لینک</a></li>
                    <li><a class="text-dark" href="#">لینک</a></li>
                    <li><a class="text-dark" href="#">لینک</a></li>
                    <li><a class="text-dark" href="#">لینک</a></li>
                    <li><a class="text-dark" href="#">لینک</a></li>
                    <li><a class="text-dark" href="#">لینک</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>تماس</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-dark" href="#">لینک</a></li>
                    <li><a class="text-dark" href="#">لینک</a></li>
                    <li><a class="text-dark" href="#">لینک</a></li>
                    <li><a class="text-dark" href="#">لینک</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>لورم</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-dark" href="#">لینک</a></li>
                    <li><a class="text-dark" href="#">لینک</a></li>
                    <li><a class="text-dark" href="#">لینک</a></li>
                    <li><a class="text-dark" href="#">لینک</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>درباره ما</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-dark" href="#">لینک</a></li>
                    <li><a class="text-dark" href="#">لینک</a></li>
                    <li><a class="text-dark" href="#">لینک</a></li>
                    <li><a class="text-dark" href="#">لینک</a></li>
                </ul>
            </div>
        </div>
    </div>

</footer>