

<nav class="navbar fixed-top navbar-expand-lg navbar-dark alert bg-info fixed-top">
    <div class="container">
        <a class="navbar-brand" href="index.html">هتل یاب</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="\">خانه </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Service">خدمات</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Collection">کالکشن</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Contact">تماس با ما</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/About" >درباره ما</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        فیلتر
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                        <a class="dropdown-item" href="/FilterByCity">بر اساس شهر</a>
                        <a class="dropdown-item" href="#">بر اساس ستاره</a>

                    </div>
                </li>

                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="جستجو" aria-label="Search">
                    <button class="btn my-2 my-sm-0" type="submit">بگرد</button>
                </form>
            </ul>
        </div>
    </div>
</nav>