@model HotelDetailModel

<div class="card my-4">
    <h5 class="card-header alert alert-info">نوشتن نظر:</h5>
    <div class="card-body">
        <form>
            <div class="form-group">
                <textarea class="form-control" rows="3" style="margin-top: 0px; margin-bottom: 0px; height: 89px;"></textarea>
            </div>
            <button type="submit" class="btn btn-outline-success">ارسال</button>
        </form>
    </div>
</div>
<div class="card">
    <h5 class="card-header alert alert-info">نظرات کاربران</h5>
    <div class="media mb-4 card-body">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
            <h5 class="mt-0">ایمیل کاربر</h5>
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است

            &nbsp;&nbsp;
            <button type="submit" class="btn btn-outline-info btn-sm" style="text-align: left">پاسخ</button>
        </div>

    </div>
@for (int i = 0; i <@Model.hotel.Reviews.Count; i++)
{
    <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
            <h5 class="mt-0">@Model.hotel.Reviews.Select(s=>s.UserId)</h5>
            @Model.hotel.Reviews.Select(s=>s.Comment)
            &nbsp;&nbsp;
            <button type="submit" class="btn btn-outline-info btn-sm" style="text-align: left">پاسخ</button>
            <div class="media mt-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">ایمیل کاربر</h5>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است

                </div>
            </div>

            <div class="media mt-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">ایمیل کاربر</h5>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است

                </div>
            </div>

        </div>
    </div>
}
</div>