@model HotelDetailModel

<div class="card my-4">
    <h5 class="card-header alert alert-info">نوشتن نظر:</h5>
    <div class="card-body">
        <form>
            <div class="form-group">
                <textarea class="form-control" rows="3" style="margin-top: 0px; margin-bottom: 0px; height: 89px;"></textarea>
            </div>
            <button type="submit" class="btn btn-outline-success">ارسال</button>
        </form>
    </div>
</div>
<div class="card">
    <h5 class="card-header alert alert-info">نظرات کاربران</h5>

    @{
        var CommnetItem = Model.Reiviews.Where(w=>w.HotelId==Model.hotel.Id);
        var CommnetAsnwer = Model.ReiviewAnswers.Where(w=>w.ReviewId==Model.Reiviews.Select(s=>s.Id).FirstOrDefault());
    }
    @foreach (var item in CommnetItem)
    {
        <div class="media mb-4 card-body">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
                <h5 class="mt-0">@item.UserName</h5>
                @item.Comment
                &nbsp;&nbsp;
                <button type="submit" class="btn btn-outline-info btn-sm" style="text-align: left">پاسخ</button>
                @foreach (var item2 in CommnetAsnwer)
                {
                    <div class="media mt-4">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">@item2.UserName</h5>
                            @item2.CommentAnswer
                        </div>
                    </div>
                }

            </div>
        </div>
    }
</div>