@page
@model HotelWebApplication.Pages.Star.EditStarModel
@{ ViewData["Title"] = "ویرایش";
}
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3" style="margin-top: 60px">
        ستاره ها
    </h1>

    <ol class="breadcrumb alert alert-info">
        <li class="breadcrumb-item">
            <a href="/">خانه</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/Star/LisrStar">لیست ستاره ها</a>
        </li>
        <li class="breadcrumb-item active">ورود</li>
    </ol>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card justify-content-center">
                <div class="card-header">ورود</div>
                <div class="card-body">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <label asp-for="StarUpdateDto.StarNumber">ایمیل</label>
                        <div class="input-group mb-3">

                            <input type="text" class="form-control" asp-for="StarUpdateDto.StarNumber" placeholder="عدد ستاره" aria-label="" aria-describedby="basic-addon2">
                            <span class="input-group-text" id="basic-addon2" asp-validation-for="StarUpdateDto.StarNumber"></span>
                        </div>

                        <div class="card-footer">
                            <input type="submit" class="btn btn-outline-success btn-block" value="ثبت" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br />