@page
@model HotelWebApplication.Pages.Star.ListHotelStarModel
@{
    ViewData["Title"] = @Model.Star.StarNumber;
}

<div class="container">

    <h1 class="mt-4 mb-3">
        لیست ستاره ها
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">خانه</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/Star/FilterByStar">لیست ستاره ها</a>
        </li>
        <li class="breadcrumb-item active">@Model.Star.StarNumber ستاره</li>
    </ol>

    <h2>لیست هتل ها</h2>

    <div class="row">
        
        @{
            var ModelItem = Model.Star.Hotels;
        }

        @foreach (var item in  ModelItem)
        {
            <div class="col-lg-3 col-sm-4 mb-4">
                <div class="card">
                    <p class="card-header" style="text-align: center">
                        @item.HotelName
                    </p>

                    <div class="card-body">
                        <a asp-page="/Hotel/HotelDetail" asp-route-id="@item.Id">
                            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>


</div>
