<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        خطا
        <small>صفحه مورد نظر پیدا نشد</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item active">404</li>
    </ol>

    <div class="jumbotron" style="text-align: center">
        <h1 class="display-1">دسترسی بسته</h1>
        <p>
            اوپس
            راهتو گم کردی حتما !
            یا شاید اطلاعات ورودت را فراموش کردی
            لطفا بعد از 3 دقیقه دوباره تلاش کن
        </p>
        <p>
            برای رفتن به <a asp-route="/">اصلی</a> اصلی لطفا کلیک کنید 
        </p>
    </div>
    <!-- /.jumbotron -->

</div>