@page
@model HotelWebApplication.Pages.RegisterUserModel
@{
    ViewData["Title"] = "ثبت نام";
}
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3" style="margin-top: 60px">
        تماس با ما
    </h1>

    <ol class="breadcrumb alert alert-info">
        <li class="breadcrumb-item">
            <a href="/">خانه</a>
        </li>
        <li class="breadcrumb-item active">ثبت نام</li>
    </ol>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">ثبت نام</div>
                <div class="card-body">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <label asp-for="InsertInputDto.FullName">نام و نام خانوادگی</label>
                        <div class="input-group mb-3">

                            <input type="text" class="form-control" asp-for="InsertInputDto.FullName" placeholder="نام و نام خانوادگی" aria-label="ایمیل" aria-describedby="basic-addon2">
                            <span class="input-group-text" id="basic-addon2" asp-validation-for="InsertInputDto.FullName"></span>
                        </div>

                        <label asp-for="InsertInputDto.Email">ایمیل</label>
                        <div class="input-group mb-3">

                            <input type="text" class="form-control" asp-for="InsertInputDto.Email" placeholder="ایمیل" aria-label="ایمیل" aria-describedby="basic-addon2">
                            <span class="input-group-text" id="basic-addon2" asp-validation-for="InsertInputDto.Email"></span>
                        </div>

                        <label asp-for="InsertInputDto.Password">رمز عبور</label>
                        <div class="input-group mb-3">

                            <input type="password" class="form-control" asp-for="InsertInputDto.Password" placeholder="رمز عبور" aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <span class="input-group-text" id="basic-addon2" asp-validation-for="InsertInputDto.Password"></span>
                        </div>

                        <div class="card-footer">
                            <input type="submit" class="btn btn-outline-success btn-block" value="ثبت نام" />
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>


