@page
@model HotelWebApplication.Pages.User.UserInfoDetailsModel
@{ ViewData["Title"] = "جزيیات اطلاعات کاربر";
}

<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        جزيیات اطلاعات کاربر
    </h1>

    <ol class="breadcrumb alert alert-info">
        <li class="breadcrumb-item">
            <a href="/">خانه</a>
        </li>
        <li class="breadcrumb-item active"> جزيیات اطلاعات کاربر</li>
    </ol>


    <div class="card">

        <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="@Model.user.FullName" class="rounded-circle" width="150">
                <div class="mt-3">
                    <h4>John Doe</h4>
                    <p class="text-secondary mb-1">Full Stack Developer</p>
                    <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
                    <button class="btn btn-outline-warning">ویرایش</button>
                    <button class="btn btn-outline-danger">حذف حساب کاربری</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>