@page
@model HotelWebApplication.Pages.User.UserLoginModel
@{ ViewData["Title"] = "ورود";
}
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3" style="margin-top: 60px">
        ورود
    </h1>

    <ol class="breadcrumb alert alert-info">
        <li class="breadcrumb-item">
            <a href="/">خانه</a>
        </li>
        <li class="breadcrumb-item active">ورود</li>
    </ol>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card justify-content-center">
                <div class="card-header">ورود</div>
                <div class="card-body">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <label asp-for="login.Email">ایمیل</label>
                        <div class="input-group mb-3">

                            <input type="text" class="form-control" asp-for="login.Email" placeholder="ایمیل" aria-label="ایمیل" aria-describedby="basic-addon2">
                            <span class="input-group-text" id="basic-addon2" asp-validation-for="login.Email"></span>
                        </div>

                        <label asp-for="login.Password">رمز عبور</label>
                        <div class="input-group mb-3">

                            <input type="password" class="form-control" asp-for="login.Password" placeholder="رمز عبور" aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <span class="input-group-text" id="basic-addon2" asp-validation-for="login.Password"></span>
                        </div>

                        <div class="card-footer">
                            <input type="submit" class="btn btn-outline-success btn-block" value="ورود" />
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
