<div class="row">
    <div class="col-lg-6">
        <h2>مدرن ترین هتل ها در اینجا</h2>
        <p>The Modern Business template by Start Bootstrap includes:</p>
        <ul>
            <li>
                <strong>بوت استرپ 4</strong>
            </li>
            <li>جی کوئری</li>
            <li>فونت ایران سنس</li>
            <li>رابط کاربری بسیار زیبا و چشم گیر</li>
            <li>Unstyled page elements for easy customization</li>
        </ul>
        <p>
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و
            متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
            کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
        </p>
    </div>
    <div class="col-lg-6">
        <img class="img-fluid rounded" src="/Image/overview-photo.jpg" alt="">
    </div>
</div>