@page
@model HotelWebApplication.Pages.Shared.AboutModel
@{
    ViewData["Title"] = "درباره ما";
}
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        درباره ما
    </h1>

    <ol class="breadcrumb alert alert-info">
        <li class="breadcrumb-item">
            <a href="/">خانه</a>
        </li>
        <li class="breadcrumb-item active">درباره ما</li>
    </ol>

    <!-- Intro Content -->
    <div class="row">
        <div class="col-lg-6">
            <img class="img-fluid rounded mb-4" src="http://placehold.it/750x450" alt="">
        </div>
        <div class="col-lg-6">
            <h2>درباره سایت هتل یاب</h2>
            <p>
                لورم ایپسوم
                متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و
                متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز
                و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه
                درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد
            <p>
                تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای
                علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت
            </p>
            <p>
                که تمام و دشواری موجود
                در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای
                اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.

            </p>
        </div>
    </div>
    <!-- /.row -->
    <!-- Team Members -->
    <h2>اعضای تیم</h2>

    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card h-100 text-center">
                <img class="card-img-top" src="http://placehold.it/750x450" alt="">
                <div class="card-body">
                    <h4 class="card-title">سبحان علیدوست</h4>
                    <h6 class="card-subtitle mb-2 text-muted">برنامه نویس و مدیر پروژه</h6>
                    <p class="card-text">
                        مدیر پروژه ، طراح UI سایت و برنامه نویس backend سایت
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#">sbn.alidoost@gmail.com</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100 text-center">
                <img class="card-img-top" src="http://placehold.it/750x450" alt="">
                <div class="card-body">
                    <h4 class="card-title">خانوم شادی رهبر</h4>
                    <h6 class="card-subtitle mb-2 text-muted">برنامه نویس</h6>
                    <p class="card-text"> عضو تیم و برنامه نویس backend سایت </p>
                </div>
                <div class="card-footer">
                    <a href="#">name@example.com</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100 text-center">
                <img class="card-img-top" src="http://placehold.it/750x450" alt="">
                <div class="card-body">
                    <h4 class="card-title">علی محمدی</h4>
                    <h6 class="card-subtitle mb-2 text-muted">برنامه نویس</h6>
                    <p class="card-text"> عضو تیم و برنامه نویس backend سایت </p>
                </div>
                <div class="card-footer">
                    <a href="#">name@example.com</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>
