@page
@model IndexModel
@{
    ViewData["Title"] = "خانه";
}

@section SliderHome
{
    <partial name="Home/_SliderHomeIndex" />
}



<div class="container">
    <!-- Features Section -->

    <h3 class="my-4">به سایت هتل یاب خوش آمدید</h3>
    <partial name="Home/_AboutIndex" />
    <!-- /.row -->
    <br>

    <!-- Portfolio Section -->
    <h2 class="alert alert-info" style="text-align: center">برترین هتل ها</h2>
    <partial name="Home/_TopHotelIndex" />
    <!-- /.row -->
    <!-- Portfolio Section -->
    <h2 class="alert alert-info" style="text-align: center">جدیدترین هتل ها</h2>
    <partial name="Home/__NewHotelIndex" />
    <!-- /.row -->

    <h3 class="alert alert-info" style="text-align: center"> فیلتر ها</h3>
    <partial name="Home/_FilterIndex" />

    <!-- Marketing Icons Section -->
    <h3 class="alert alert-info" style="text-align: center">وبلاگ </h3>
    <partial name="Home/_BlogIndex" />
    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
    <div class="row mb-4">
        <div class="col-md-8">
            <p>
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و
                متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده
                شناخت فراوان جامعه و متخصصان را می طلبد
            </p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-outline-info btn-block" href="/Contact">تماس با ما</a>
        </div>
    </div>
</div>
