@page
@model HotelWebApplication.Pages.ServiceModel
@{
    ViewData["Title"] = "خدمات ما";
}

<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        خدمات
    </h1>

    <ol class="breadcrumb alert alert-info">
        <li class="breadcrumb-item">
            <a href="/">خانه</a>
        </li>
        <li class="breadcrumb-item active">خدمات ما</li>
    </ol>

    <!-- Image Header -->
    <img class="img-fluid rounded mb-4" src="/Image/Hotel-Service.jpg" alt="">

    <p>
        سفر یکی از بخش‌های جدایی‌ناپذیر در زندگی است. دلایل سفر می‌توانند کار، تفریح، خرید یا هر دلیل دیگری باشند. در صورتی که به هر دلیلی عازم سفر هستید، پیش از آغاز مسیر خود، باید به نکاتی توجه داشته باشید. مهمترین مسئله تعیین محل اقامت مناسب، با توجه به مدت حضور در مقصد است. توصیه می‌کنیم قبل از سفر خود، هتل مناسب با شرایط خودتان را انتخاب کنید. این کار باعث می‌شود تا از اتلاف وقت و خستگی، پیشگیری کرده باشید. حال سوال اینجاست که معیارهای تعیین یک هتل مناسب چیست؟ چه نکاتی را در انتخاب هتل باید در نظر داشته باشید؟ مسلما در هر شهری، هتل‌های مختلفی در مناطق مختلف دایر شده است. همچنین برای جذب مشتریان بیشتر، سرویس‌های مختلفی را ارائه می‌دهند. مسلما برای رزرو یک اتاق مناسب در هتل، لازم است انواع سرویس‌های هتل را به طور کامل بشناسید.

        هتل‌ها برای دریافت استانداردهای بین المللی باید شرایط خاصی داشته باشد. در ادامه به طور کامل‌تر با این شرایط آشنا می‌شوید. از جمله انواع امکانات هتل می‌توان به انواع اتاق‌ها، انواع تخت‌ها و انواع سرویس‌های غذایی اشاره کرد. برای راحتی بیشتر، در سیستم هتل‌داری، برای هر یک از این سرویس‌ها اصطلاحات ویژه‌ای در نظر گرفته شده است. در ادامه با هر کدام از آن‌ها که در بخش‌های مختلف و متفاوت این سیستم وجود دارد آشنا خواهید شد.


    </p>

    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">   خدمات O.R چیست؟</h4>
                <div class="card-body">
                    <p class="card-text">

                        کوتاه شده عبارت Only Room و به معنای پرداخت بهای اتاق، بدون استفاده از سرویس‌های همراه است. اگر تمایلی به صرف صبحانه یا هر وعده‌ی غذایی دیگری را در هتل ندارید، سرویس OR را انتخاب کنید. این سرویس در تورهای عرضه شده از طرف آژانس مسافرتی کمتر یافت می‌شود.



                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">
                     خدمات B.B چیست؟
                </h4>
                <div class="card-body">
                    <p class="card-text">
                        زمانی که این سرویس را انتخاب می‌کنید، هتل علاوه بر اتاق، سرویس صبحانه را هم به میهمان ارائه می‌نماید. این اصطلاح مخفف عبارت Bed & Breakfast است. با انتخاب این سرویس تا حد قابل توجهی در هزینه‌های اقامت، صرفه‌جویی می‌شود. بخش قابل توجهی از تورها از مبدا ایران، با سرویس B.B ارائه می‌شوند.

                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">
                    خدمات H.B چیست؟

                </h4>
                <div class="card-body">
                    <p class="card-text">
                        سرویس H.B یا همان Half Board شامل اتاق، یک وعده صبحانه و یک وعده ناهار یا شام است. انتخاب وعده ناهار یا شام به نوع هتل و نیز زمان‌بندی حضور شما در هتل بستگی دارد. این نوع سرویس اگر چه در برخی مسیرها، نظیر تور دبی که وعده شام را در بر دارد ارائه می‌شود اما میزان آن در اندازه‌ی سایر سرویس‌ها نیست و در چند مسیر محدود به مسافران عرضه می‌شود.


                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">   خدمات O.R چیست؟</h4>
                <div class="card-body">
                    <p class="card-text">

                        کوتاه شده عبارت Only Room و به معنای پرداخت بهای اتاق، بدون استفاده از سرویس‌های همراه است. اگر تمایلی به صرف صبحانه یا هر وعده‌ی غذایی دیگری را در هتل ندارید، سرویس OR را انتخاب کنید. این سرویس در تورهای عرضه شده از طرف آژانس مسافرتی کمتر یافت می‌شود.



                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">
                    خدمات B.B چیست؟
                </h4>
                <div class="card-body">
                    <p class="card-text">
                        زمانی که این سرویس را انتخاب می‌کنید، هتل علاوه بر اتاق، سرویس صبحانه را هم به میهمان ارائه می‌نماید. این اصطلاح مخفف عبارت Bed & Breakfast است. با انتخاب این سرویس تا حد قابل توجهی در هزینه‌های اقامت، صرفه‌جویی می‌شود. بخش قابل توجهی از تورها از مبدا ایران، با سرویس B.B ارائه می‌شوند.

                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">
                    خدمات H.B چیست؟

                </h4>
                <div class="card-body">
                    <p class="card-text">
                        سرویس H.B یا همان Half Board شامل اتاق، یک وعده صبحانه و یک وعده ناهار یا شام است. انتخاب وعده ناهار یا شام به نوع هتل و نیز زمان‌بندی حضور شما در هتل بستگی دارد. این نوع سرویس اگر چه در برخی مسیرها، نظیر تور دبی که وعده شام را در بر دارد ارائه می‌شود اما میزان آن در اندازه‌ی سایر سرویس‌ها نیست و در چند مسیر محدود به مسافران عرضه می‌شود.


                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>
